{% extends "base.html" %}
{% block content %}
<meta http-equiv="refresh" content="5">
<div class="card-wrapper">

  <div class="card">

    <h1 class="center">Ethereum</h1>
    <p class="center">ETHUSD</p>
    <p class="center">Value:{{eth}}</p>
    <p class="center">PCH:
      {% if ethper < 0 %} <span style="color: red;">{{ ethper }}</span>
        {% else %}
        <span style="color: green;">{{ ethper }}%</span>
        {% endif %}
    </p>
    <div class="center">
      <!-- <a href="/user/edit_collection" class="btn btn--secondary">buy</a>
      <a href="/user/edit_collection" class="btn btn--secondary">sell</a> -->
    </div>

  </div>

  <div class="card">

    <h1 class="center">Bitcoin</h1>
    <p class="center">BTCUSD</p>
    <p class="center">Value:{{btc}}</p>
    <p class="center">PCH:
      {% if btcper < 0 %} <span style="color: red;">{{ btcper }}%</span>
        {% else %}
        <span style="color: green;">{{ btcper }}%</span>
        {% endif %}
    </p>
    <div class="center">
      <!-- <a href="/user/edit_collection" class="btn btn--secondary">buy</a>
      <a href="/user/edit_collection" class="btn btn--secondary">sell</a> -->
    </div>

  </div>

  <div class="card">

    <h1 class="center">Dogecoin</h1>
    <p class="center">DOGEUSD</p>
    <p class="center">Value:{{doge}}</p>
    <p class="center">PCH:
      {% if dogeper < 0 %} <span style="color: red;">{{ dogeper }}%</span>
        {% else %}
        <span style="color: green;">{{ dogeper }}%</span>
        {% endif %}
    </p>
    <div class="center">
      <!-- <a href="/user/edit_collection" class="btn btn--secondary">buy</a>
      <a href="/user/edit_collection" class="btn btn--secondary">sell</a> -->
    </div>

  </div>

  <div class="card">

    <h1 class="center">XRP</h1>
    <p class="center">XRPUSD</p>
    <p class="center">Value:{{xrp}}</p>
    <p class="center">PCH:
      {% if xrpper < 0 %} <span style="color: red;">{{ xrpper }}%</span>
        {% else %}
        <span style="color: green;">{{ xrpper }}%</span>
        {% endif %}
    </p>
    <div class="center">
      <!-- <a href="/user/edit_collection" class="btn btn--secondary">buy</a>
      <a href="/user/edit_collection" class="btn btn--secondary">sell</a> -->
    </div>

  </div>

  <div class="card">

    <h1 class="center">Litecoin</h1>
    <p class="center">LTCUSD</p>
    <p class="center">Value:{{ltc}}</p>
    <p class="center">PCH:
      {% if ltcper < 0 %} <span style="color: red;">{{ ltcper }}%</span>
        {% else %}
        <span style="color: green;">{{ ltcper }}%</span>
        {% endif %}
    </p>
    <div class="center">
      <!-- <a href="/user/edit_collection" class="btn btn--secondary">buy</a>
      <a href="/user/edit_collection" class="btn btn--secondary">sell</a> -->
    </div>

  </div>

  <div class="card">

    <h1 class="center">Bitcoin Cash</h1>
    <p class="center">BCHUSD</p>
    <p class="center">Value:{{bch}}</p>
    <p class="center">PCH:
      {% if bchper < 0 %} <span style="color: red;">{{ bchper }}%</span>
        {% else %}
        <span style="color: green;">{{ bchper }}%</span>
        {% endif %}
    </p>
    <div class="center">
      <!-- <a href="/user/edit_collection" class="btn btn--secondary">buy</a>
      <a href="/user/edit_collection" class="btn btn--secondary">sell</a> -->
    </div>
  </div>
</div>

{% endblock %}